.root{
     -fx-font-family: "Verdana";
 }
.icons{
-fx-width:75px;
-fx-height:65px;

}
.texts{

-fx-text-fill: white;
}
.cabeceraHorizontal{
 -fx-background-color:  #3F51B5;
}

 .button:default:hover {
     -fx-background-color: derive(-fx-focus-color,30%);
 }
 .table-cell:hover {
 -fx-text-fill: white;
     -fx-background-color:  #3F51B5;
 }
 .text-field {
     -fx-background-color: #a9a9a9 , white , white;
     -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
 }

 .text-field:focused {
     -fx-background-color: #a9a9a9 , white , white;
     -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
 }